body{
    background-color:rgb(255, 255, 255); 
    margin: 0;
    padding: 0;

}

.container {
    background-color: #ffffff; 
    width: 960px;
    margin: auto;
   
}
header, footer {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

header h1 {
    font-family: 'Lobster', cursive;
    font-size: 2.5em;
    margin: 0;
}

a {
    color: #000000; 
    text-decoration: none; 
}

a:hover {
    text-decoration: dotted; 
}

nav {
    background-color: #ffffff; 
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #555;
    padding: 10px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffc800;
}

table{
    width: 400px;           
    margin: 30px auto;
    border-collapse: collapse;
    text-align: center;
}

table td,
table th{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #000000;

}

table td img{
    width: 100%;
    border-radius: 25px;
}

table tbody tr:hover {
    background-color: #efeeee;
}

table th {
    background-color: #333;
    color: white;
    font-weight: bold;
}
