*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table{
    width: 100vw;
    table-layout: fixed;  /* Propriedade que define como o navegador calcula a largura das colunas de uma table  */
    /* margin: auto; */
    border: 1px solid #ccc;
    border-collapse: collapse;
}

tr,td{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    text-align: center;
    margin: 0.5em 0;
}

body{
    background-color: #9FB3DF;
}

h1{
    font-size: 1.5em;
}

header{
    display: flex;
    justify-content: center;
}

table thead tr th {
  font-size: 1em;
  text-transform: uppercase;
}